*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

.pageCover{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;   
    background-color: rgba(128, 128, 128, 0.1);
}

.tips{
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
}

.startingScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    padding: 1rem;
    min-height: 90vh;
}

.startingTextContainer{
    font-size: clamp(1.2rem, 0.95rem + 0.24vw, 1.25rem);
}

#farmerInfo{
    display: none;
    width: 85%;
}

.farmerHead{
    font-size: clamp(1.2rem, 0.95rem + 0.24vw, 1.25rem);
    font-weight: bold;
    text-decoration: underline;
}

.farmerPara{
    font-size: clamp(1.2rem, 0.95rem + 0.24vw, 1.25rem);
}

.tts-controls{
    margin: 1rem;
    position: sticky;
    left: 1rem;
    bottom: 1rem;
}

.credit{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}